@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald&family=Roboto&display=swap');

html{
    background-color: #000;
}
h2{
  color: #9ca3af;
  font-family:  Nunito Sans,Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-right: 313px;

}
.container{
  text-align: center;
  margin-top: 220px;
}
label{
    color: #03a9f4;
}
.title{
    color: #03a9f4;
    font-family: Nunito Sans,Helvetica;
    font-size: 25px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 45px;
    font-weight:lighter ;
}

#history{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  margin-left: 200px;

}
.history-title{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  margin-left: 200px;
  margin-top: 50px;

}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 45%;
}

.form__field {
  font-family:"Nunito Sans-Regular", Helvetica; ;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: .9rem;
  color: #fff;
  padding: 7px 0;
  background: #374151;
  border-radius: 8px;
  transition: border-color 0.2s;
  text-align: left;
  padding-left: 35px;
  width: 400px;
  background: url('../assets/user.svg') no-repeat scroll 7px 7px, #374151; 
  background-position: 15px 7px; 

  &::placeholder {
    color: #9ca3af;
  }
  .form__field::placeholder {
    font-size: 1px;  
}


  &:placeholder-shown ~ .form__label {
    font-size: 0.5rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  font-size: 1rem;
  color: #ffffff;
  margin-top: -10px;
}




.input-container{
    margin-left: 35vw;
    
}

.button {
  color:white;
   font-size: 15px;
	  margin: 50px;
    background-color: #03a9f4;
    text-decoration: none;
    border: none;
    width: 428px;
    height: 40px;
    border-radius: 8px;
}

.button:hover{
  background-color: #fff;
  color: black;
  cursor: pointer;
}
.clear-button {
  background: none;
  border: none;
  position: absolute;
  top: 69%;
  right: 60px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: #aaa; 
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 45%;
}

h3{
  color: #fff;
}


.breadcrumb {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  border-radius: 6px;
  font-family: "Inter-Medium", Helvetica;
  font-size: small;

}

.breadcrumb .img {
  position: relative;
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-right: 6px; 
  margin-left:6px;
}

.breadcrumb .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.breadcrumb .text {
  color: #9ca3af;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: var(--text-sm-font-medium-font-weight);
  font-size: var(--text-sm-font-medium-font-size);
  letter-spacing: var(--text-sm-font-medium-letter-spacing);
  line-height: var(--text-sm-font-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-font-medium-font-style);
  margin-top: 10px;
}

.breadcrumb .text-wrapper {
  color: #f3f4f6;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-font-medium-font-family);
  font-weight: var(--text-sm-font-medium-font-weight);
  font-size: var(--text-sm-font-medium-font-size);
  letter-spacing: var(--text-sm-font-medium-letter-spacing);
  line-height: var(--text-sm-font-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-font-medium-font-style);
  margin-top: 10px;
}
.navbar .img:first-child {
  margin-left: 50px;  
}
.navbar a[href="history.html"] .link {
  transform: translateX(-20px);  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-top:15px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 15px;
}


#resultEl {
  font-size: 36px;
  color: #ffffff; 
  text-align: center;
  margin-top:-10px;
  font-family: Nunito Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#wordEl {
  font-size: 48px; 
  text-align: center; 
  margin: 0 auto; 
  color: #ffffff; 
  margin-top:250px;
  font-family: Nunito Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
