@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald&family=Roboto&display=swap');

html{
    background-color: #000;
}
.container{
    text-align: center;
}
label{
    color: #03a9f4;
}
h1{
    color: #03a9f4;
    font-family: 'Nunito Sans', sans-serif;

    font-size: 48px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 45%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.input-container{
    margin-left: 35vw;
}

.button {
	margin: 50px;
    background-color: #03a9f4;
    text-decoration: none;
    border: none;
    width: 30%;
    height: 30px;
    border-radius: 5px;
}

.button:hover{
  background-color: #fff;
  cursor: pointer;
}

h3{
  color: #fff;
}
